*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-expand-lg{
    background-color: #0072A7 !important;
}
/*
.navbar-nav{
    margin-left: 85% !important;  
}
*/

.navbar{
    display: flex;
}

.collapse{
    justify-content: end;
}

.navbar-brand{
    padding: 10px !important;
}

.ID {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 10px;
    margin-left: 40%;
}

#error{
    color: red;
}

.invisible{
    display: none;
}

main div a{
    border: solid white 1px;
    text-decoration: none;
    color: white;
    background-color: #003248;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 50px;
}

main #connexion{
    margin-top: 10%;
}

main #inscription{
    margin-top: 10%;
    margin-left: 38%;
}

main a#deconnexion{
    background-color:  red;
} 

#medecins{
    display: flex;
}

.medecin{
    margin: 10px;
}

